source/html/about.pug
extends base.pug
block content
	div(class="about")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li( class="breadcrumb-item")
								a(href="#")
									| ГЛАВНАЯ
							li( class="breadcrumb-item")
								a(href="#")
									| КАТАЛОГ
							li(class="breadcrumb-item active" aria-current="page")
								| СВЕТ
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1()
						| О САЛОНЕ \ КОНТАТЫ
			div(class="row d-none d-md-flex")
				div(class="col-12")
					div(class="about__header")
						h2()
							| О салоне
						img(class="lazyload d-none d-lg-inline" class="logo" data-src="images/logo.png" alt="logo img")
			div(class="about__item")
				div(class="row")
					div(class="col-12 about__item__wr")
						img(class="img-fluid lazyload" data-src="images/about/Group_666.png" alt="img")
						div()
							p(class="about__description")
								| Мы предлагаем Вам погрузиться в мир красоты и гармонии, с любовью созданный для Вас специалистами нашего салона. На сайте Вы найдете исчерпывающую информацию об уникальном ассортименте продукции, представленной в салоне: это большой выбор обоев и прочих отделочных материалов, светильники, мебель, аксессуары, текстиль для дома и многое другое, необходимое для оформления интерьера на лучших условиях и по оптимальным ценам.
							p(class="about__description")
								| С октября 2009 года в салоне работает собственный пошивочный цех, мы занимаемся текстильным оформлением интерьеров и пошивом штор, предоставляем услуги дизайнера-декоратора.
							p(class="about__description")
								| Основным принципом работы салона является комплексный подбор интерьерных решений. К каждому заказу мы подходим индивидуально и предлагаем декораторские решения для любого пространства. Специалисты нашего салона помогут Вам сориентироваться в ассортименте представленной продукции, полностью подготовят для Вас варианты планировки, эскизы помещений, подборку необходимых материалов для создания интерьера.
							p(class="about__description")
								| Ассортимент салона регулярно пополняется, действуют подарочные сертификаты и сезонные скидки.
			div(class="about__services")
				div(class="row")
					div(class="col-12")
						h2()
							| Наши услуги
				div(class="row")
					each val, index in ["оформление подарков,<br>возможна доставка.", "розничная продажа отделочных материалов, мебели, света, аксессуаров;", "выезд дизайнера-декоратора, консультирование, подбор аксессуаров для создания стиля;", "подготовка вариантов планировки и эскизов помещений с подбором необходимых материалов для воплощения;", "дизайн и пошив штор, покрывал и прочих элементов текстильного оформления интерьера с выездом для замеров и монтажа по договоренности с клиентом;", "подбор всех необходимых материалов по заявке клиента или на основе представленного клиентом дизайн-проекта;"]
						div(class="col-12 col-md-6")
							div(class="about__services__item")
								img(class="lazyload" data-src="images/tick.svg" alt="img")
								p(class="about__description")
									= val
			div(class="about__contacts")
				div(class="row")
					div(class="col-12")
						h2()
							| Контакты
				div(class="row")
					div(class="col-12 col-md-7")
						iframe(src="https://yandex.ru/map-widget/v1/-/CKA5nD7g" width="100%" height="570" allowfullscreen="true")
					div(class="col-12 col-md-5 pt-4 pt-lg-0")
						p(class="about__contacts__description about__contacts__description_adress")
							| Наш адрес:<br>454091 г.Челябинск,<br>ул. Свободы, д.161
						h3()
							| Текстиль
						p(class="about__contacts__description ")
							| (ткани, постельное бельё, пошив штор)
							a(class="about__contacts__link" href='tel:83512200667')
								| Тел: 8 (351) 22-00-667
							a(class="about__contacts__link" href='mailto:artssofe@gmail.com')
								| e-mail: artssofe@gmail.com
						h3()
							| Светильники, аксессуары, мебель, ароматы для дома:
						p(class="about__contacts__description ")
							a(class="about__contacts__link" href='#')
								| Тел: 8 (351) 22-00-667 / 22-00-668
							a(class="about__contacts__link" href='#')
								| e-mail: artssofe@gmail.com / artssofe@mail.ru
						h3()
							| Отделочные материалы:
						p(class="about__contacts__description p-0")
							a(class="about__contacts__link" href='tel:83512200668')
								| Тел: 8 (351) 22-00-668
							a(class="about__contacts__link" href='mailto:artssofe@mail.ru')
								| e-mail: artssofe@mail.ru 


					
		

release/about.html
<!DOCTYPE html>
<html lang="ru" style=" --main-color: #06c;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css"><link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <div id="preloader-cube">
      <div class="caption">
        <div class="cube-loader">
          <div class="cube loader-1"></div>
          <div class="cube loader-2"></div>
          <div class="cube loader-4"></div>
          <div class="cube loader-3"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navigation"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo.png" alt="logo"></a>
                <ul class="d-none d-lg-flex">
                  <li><a href="#">Главная</a></li>
                  <li><a href="#">Каталог</a></li>
                  <li><a href="#">Корзина</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
                <div class="search">
                  <input type="search"><span></span>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <header class="navigation__burger">
        <button class="btn__menu btn__burger"><span></span><span></span><span></span></button>
        <div class="navigation__burger__content">
          <div class="navigation__burger__content__first"><a><i class="far fa-heart"></i></a><a class="navigation__burger__content__basket"><img class="lazyload" data-src="images/basket.png" alt="img"><span class="navigation__burger__content__basket__count">3</span></a><span class="navigation__burger__content__price">0.00<span>₽</span></span></div>
          <div class="social"><a class="social__item" href="#"><i class="fab fa-facebook-square"></i></a><a class="social__item" href="#"><i class="fab fa-twitter"></i></a><a class="social__item" href="#"><i class="fab fa-pinterest"></i></a></div>
        </div>
      </header>
      <div class="navigation__content">
        <div class="navigation__content_first"></div>
        <div class="navigation__content_second"></div>
        <ul>
          <li><a class="link" href="#">Главная</a></li>
          <li><a class="link" href="#">Каталог</a></li>
          <li><a class="link" href="#">Корзина</a></li>
          <li><a class="link" href="#">Партнеры</a></li>
          <li><a class="link" href="#">Наши работы</a></li>
          <li><a class="link" href="#">О нас</a></li>
          <li><a class="link" href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="about">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">ГЛАВНАЯ</a></li>
                    <li class="breadcrumb-item"><a href="#">КАТАЛОГ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">СВЕТ</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>О САЛОНЕ \ КОНТАТЫ</h1>
              </div>
            </div>
            <div class="row d-none d-md-flex">
              <div class="col-12">
                <div class="about__header">
                  <h2>О салоне</h2><img class="lazyload d-none d-lg-inline logo" data-src="images/logo.png" alt="logo img">
                </div>
              </div>
            </div>
            <div class="about__item">
              <div class="row">
                <div class="col-12 about__item__wr"><img class="img-fluid lazyload" data-src="images/about/Group_666.png" alt="img">
                  <div>
                    <p class="about__description">Мы предлагаем Вам погрузиться в мир красоты и гармонии, с любовью созданный для Вас специалистами нашего салона. На сайте Вы найдете исчерпывающую информацию об уникальном ассортименте продукции, представленной в салоне: это большой выбор обоев и прочих отделочных материалов, светильники, мебель, аксессуары, текстиль для дома и многое другое, необходимое для оформления интерьера на лучших условиях и по оптимальным ценам.</p>
                    <p class="about__description">С октября 2009 года в салоне работает собственный пошивочный цех, мы занимаемся текстильным оформлением интерьеров и пошивом штор, предоставляем услуги дизайнера-декоратора.</p>
                    <p class="about__description">Основным принципом работы салона является комплексный подбор интерьерных решений. К каждому заказу мы подходим индивидуально и предлагаем декораторские решения для любого пространства. Специалисты нашего салона помогут Вам сориентироваться в ассортименте представленной продукции, полностью подготовят для Вас варианты планировки, эскизы помещений, подборку необходимых материалов для создания интерьера.</p>
                    <p class="about__description">Ассортимент салона регулярно пополняется, действуют подарочные сертификаты и сезонные скидки.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="about__services">
              <div class="row">
                <div class="col-12">
                  <h2>Наши услуги</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="about__services__item"><img class="lazyload" data-src="images/tick.svg" alt="img">
                    <p class="about__description">оформление подарков,&lt;br&gt;возможна доставка.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="about__services__item"><img class="lazyload" data-src="images/tick.svg" alt="img">
                    <p class="about__description">розничная продажа отделочных материалов, мебели, света, аксессуаров;
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="about__services__item"><img class="lazyload" data-src="images/tick.svg" alt="img">
                    <p class="about__description">выезд дизайнера-декоратора, консультирование, подбор аксессуаров для создания стиля;
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="about__services__item"><img class="lazyload" data-src="images/tick.svg" alt="img">
                    <p class="about__description">подготовка вариантов планировки и эскизов помещений с подбором необходимых материалов для воплощения;
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="about__services__item"><img class="lazyload" data-src="images/tick.svg" alt="img">
                    <p class="about__description">дизайн и пошив штор, покрывал и прочих элементов текстильного оформления интерьера с выездом для замеров и монтажа по договоренности с клиентом;
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="about__services__item"><img class="lazyload" data-src="images/tick.svg" alt="img">
                    <p class="about__description">подбор всех необходимых материалов по заявке клиента или на основе представленного клиентом дизайн-проекта;
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="about__contacts">
              <div class="row">
                <div class="col-12">
                  <h2>Контакты</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-7">
                  <iframe src="https://yandex.ru/map-widget/v1/-/CKA5nD7g" width="100%" height="570" allowfullscreen="true"></iframe>
                </div>
                <div class="col-12 col-md-5 pt-4 pt-lg-0">
                  <p class="about__contacts__description about__contacts__description_adress">Наш адрес:<br>454091 г.Челябинск,<br>ул. Свободы, д.161</p>
                  <h3>Текстиль</h3>
                  <p class="about__contacts__description ">(ткани, постельное бельё, пошив штор)<a class="about__contacts__link" href="tel:83512200667">Тел: 8 (351) 22-00-667</a><a class="about__contacts__link" href="mailto:artssofe@gmail.com">e-mail: artssofe@gmail.com</a></p>
                  <h3>Светильники, аксессуары, мебель, ароматы для дома:</h3>
                  <p class="about__contacts__description "><a class="about__contacts__link" href="#">Тел: 8 (351) 22-00-667 / 22-00-668</a><a class="about__contacts__link" href="#">e-mail: artssofe@gmail.com / artssofe@mail.ru</a></p>
                  <h3>Отделочные материалы:</h3>
                  <p class="about__contacts__description p-0"><a class="about__contacts__link" href="tel:83512200668">Тел: 8 (351) 22-00-668</a><a class="about__contacts__link" href="mailto:artssofe@mail.ru">e-mail: artssofe@mail.ru </a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
      <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-header"><span>Форма заявки</span></div>
          <div class="modal-body">
            <form class="form">
              <input type="text" placeholder="Имя*">
              <input class="my-4" type="tel" placeholder="Телефон*">
              <div class="d-flex align-items-start justify-content-center py-3 pb-4">
                <label class="m-0">
                  <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                </label>
                <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
              </div>
              <div class="d-flex justify-content-center w-100">
                <button class="btn btn__flare" type="submit">Записаться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-4 order-2 order-sm-1"><span class="footer__header">Контакты</span>
            <div class="footer__line"><span class="footer__link footer__link_edge_width">Адрес:</span><span class="footer__link">454091 г .Челябинск,<br>ул. Свободы, д.161</span></div>
            <div class="footer__line"><span class="footer__link footer__link_edge_width">Телефон:</span><a class="footer__link" href="tel:83512200667">8 (351) 22-00-667</a></div>
            <div class="footer__line"><span class="footer__link footer__link_edge_width">Email:</span><a class="footer__link" href="mail:artssofe@gmail.com">artssofe@gmail.com</a></div>
          </div>
          <div class="col-lg-4 d-none d-lg-block order-sm-2"><span class="footer__header">навигация по магазину</span>
            <div class="d-flex">
              <div class="w-50"><a class="footer__link footer__link_nav" href="#">Главная</a><a class="footer__link footer__link_nav" href="#">Каталог</a><a class="footer__link footer__link_nav" href="#">Корзина</a><a class="footer__link footer__link_nav" href="#">Контакты</a>
              </div>
              <div class="w-50"><a class="footer__link footer__link_nav" href="#">Наши работы</a><a class="footer__link footer__link_nav" href="#">О нас</a><a class="footer__link footer__link_nav" href="#">Контакты</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 order-1 order-sm-3 pb-4 pb-sm-0"><span class="footer__header">Ваш список желаемого</span>
            <div class=" d-flex">
              <div class="footer__desired w-50 mr-3"></div><a class="footer__desired footer__desired_two w-50 ml-3" href="#"><span class="footer__item__name">Furniture Product Name</span><span class="footer__item__price">6000₽</span></a>
            </div>
          </div>
        </div>
        <div class="row footer__down">
          <div class="footer__down__wrapper col-12 d-flex justify-content-between align-items-center">
            <div class="order-2 order-sm-1">© ARTSSOFE 2019 - 2020. All Rights Reserved.</div>
            <div class="footer__down__pay d-flex justify-content-end order-1 order-sm-2"><img class="d-block mr-2 lazyload" data-src="images/payment-1.png" alt="img"><img class="d-block mx-2 lazyload" data-src="images/payment-2.png" alt="img"><img class="d-block mx-2 lazyload" data-src="images/payment-3.png" alt="img"><img class="d-block ml-2 lazyload" data-src="images/payment-4.png" alt="img"></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="js/main.min.js"></script>
</html>
