source/html/index.pug
extends basemain.pug
block content
	div(class="welcome d-flex align-items-center justify-content-center welcome_bg")
		div(class="container")
			div(class="row")
				div(class="col-12 d-lg-none pb-2 pb-md-5 d-flex justify-content-between align-items-start")
					span(class="h1")
						| Стиль, который вызывает эмоции
					a(href="#" class="btn")
						| перейти в каталог
				div(class="col-12 col-md-5")
					img(class="lazyload d-none d-lg-inline" class="logo" data-src="images/logo.png" alt="logo img")
					h1(class=" d-none d-lg-inline")
						| стиль, который вызывает эмоции
					p
						| Мы создаем вещи, подчеркивающие статус наших клиентов. Мы переосмысляем моду, превращая интерьер в искусство.
					form(class="subscribe d-none d-sm-block")
						div(class="subscribe__wrap")
							button(class="btn__subscribe" type="submit")
							input(type="email" placeholder="hello@email.com")
						span
							| будь в курсе новых поступлений!
				div(class="col-12 col-md-7 col-lg-6 offset-lg-1")
					div(class="welcome__video")
						iframe(width="540px" height="340px" src="https://www.youtube.com/embed/cXTSIdYe4kE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					form(class="subscribe d-sm-none")
						div(class="subscribe__wrap")
							button(class="btn__subscribe" type="submit")
							input(type="email" placeholder="hello@email.com")
						span
							| будь в курсе новых поступлений!
			div(class="slick__wrap__category")
				div(class="row")
					div(class="col-12")
						div(class="slick__category")
							each val, index  in category = [ { title: "Мебель", description: "Обстановка помогает человеку комфортнее себя чувствовать и" },{ title: "Текстиль", description: "Текстиль способен на настоящие чудеса: с его помощью можно" },{ title: "Свет", description: "Освещение – фундаментальная составляющая любого интерьера." },{ title: "Обои", description: "При создании эксклюзивного интерьера не обойтись без" }, { title: "Обои", description: "При создании эксклюзивного интерьера не обойтись без" } ]
								a( class="slick__category__item" href="#")
									span(class="slick__category__title")
										= val.title
									p(class="slick__category__description")
										= val.description
									span(class="slick__category__dots")
										| ...
					
		

release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css"><link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <div id="preloader-cube">
      <div class="caption">
        <div class="cube-loader">
          <div class="cube loader-1"></div>
          <div class="cube loader-2"></div>
          <div class="cube loader-4"></div>
          <div class="cube loader-3"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navigation"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo.png" alt="logo"></a>
                <ul class="d-none d-lg-flex">
                  <li><a href="#">Главная</a></li>
                  <li><a href="#">Каталог</a></li>
                  <li><a href="#">Корзина</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
                <div class="search">
                  <input type="search"><span></span>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <header class="navigation__burger">
        <button class="btn__menu btn__burger"><span></span><span></span><span></span></button>
      </header>
      <div class="navigation__content">
        <div class="navigation__content_first"></div>
        <div class="navigation__content_second"></div>
        <ul>
          <li><a class="link" href="#">Главная</a></li>
          <li><a class="link" href="#">Каталог</a></li>
          <li><a class="link" href="#">Корзина</a></li>
          <li><a class="link" href="#">Партнеры</a></li>
          <li><a class="link" href="#">Наши работы</a></li>
          <li><a class="link" href="#">О нас</a></li>
          <li><a class="link" href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="welcome d-flex align-items-center justify-content-center welcome_bg">
          <div class="container">
            <div class="row">
              <div class="col-12 d-lg-none pb-2 pb-md-5 d-flex justify-content-between align-items-start"><span class="h1">Стиль, который вызывает эмоции</span><a class="btn" href="#">перейти в каталог</a></div>
              <div class="col-12 col-md-5"><img class="lazyload d-none d-lg-inline logo" data-src="images/logo.png" alt="logo img">
                <h1 class=" d-none d-lg-inline">стиль, который вызывает эмоции</h1>
                <p>Мы создаем вещи, подчеркивающие статус наших клиентов. Мы переосмысляем моду, превращая интерьер в искусство.</p>
                <form class="subscribe d-none d-sm-block">
                  <div class="subscribe__wrap">
                    <button class="btn__subscribe" type="submit"></button>
                    <input type="email" placeholder="hello@email.com">
                  </div><span>будь в курсе новых поступлений!</span>
                </form>
              </div>
              <div class="col-12 col-md-7 col-lg-6 offset-lg-1">
                <div class="welcome__video">
                  <iframe width="540px" height="340px" src="https://www.youtube.com/embed/cXTSIdYe4kE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <form class="subscribe d-sm-none">
                  <div class="subscribe__wrap">
                    <button class="btn__subscribe" type="submit"></button>
                    <input type="email" placeholder="hello@email.com">
                  </div><span>будь в курсе новых поступлений!</span>
                </form>
              </div>
            </div>
            <div class="slick__wrap__category">
              <div class="row">
                <div class="col-12">
                  <div class="slick__category"><a class="slick__category__item" href="#"><span class="slick__category__title">Мебель</span>
                      <p class="slick__category__description">Обстановка помогает человеку комфортнее себя чувствовать и
                      </p><span class="slick__category__dots">...</span></a><a class="slick__category__item" href="#"><span class="slick__category__title">Текстиль</span>
                      <p class="slick__category__description">Текстиль способен на настоящие чудеса: с его помощью можно
                      </p><span class="slick__category__dots">...</span></a><a class="slick__category__item" href="#"><span class="slick__category__title">Свет</span>
                      <p class="slick__category__description">Освещение – фундаментальная составляющая любого интерьера.
                      </p><span class="slick__category__dots">...</span></a><a class="slick__category__item" href="#"><span class="slick__category__title">Обои</span>
                      <p class="slick__category__description">При создании эксклюзивного интерьера не обойтись без
                      </p><span class="slick__category__dots">...</span></a><a class="slick__category__item" href="#"><span class="slick__category__title">Обои</span>
                      <p class="slick__category__description">При создании эксклюзивного интерьера не обойтись без
                      </p><span class="slick__category__dots">...</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </body>
  <script src="js/main.min.js"></script>
</html>
