source/html/product.pug
extends base.pug
block content
	div(class="product")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="product__item")
						div(class="product__item__content")
							div(class="product__content__first product__content__header")
								h1
									| Leifarne
								div(class="product__top")
									div(class="product__top__result")
									a(class="product__top__review" href="#")
										| 3 отзыва
									a(class="product__top__add" href="#")
										| Добавить обзор
								div(class="product__price")
									span
										| 7280 руб
						div(class="product__item__content")
							div(class="product__view" id="product__view__slider")
								a(data-fancybox="gallery" href="images/product/1.png")
									img(data-lazy="images/product/1.png" alt="img")
								a(data-fancybox="gallery" href="images/product/2.png")
									img(data-lazy="images/product/2.png" alt="img")
								a(data-fancybox="gallery" href="images/product/3.png")
									img(data-lazy="images/product/3.png" alt="img")
								a(data-fancybox="gallery" href="images/product/4.png")
									img(data-lazy="images/product/4.png" alt="img")
								a(data-fancybox="gallery" href="images/product/5.png")
									img(data-lazy="images/product/5.png" alt="img")
							div(class="product__view_more pt-3 pt-lg-4" id="product__view__input")
								img(class="img-fluid" data-lazy="images/product/1.png" alt="img")
								img(class="img-fluid" data-lazy="images/product/2.png" alt="img")
								img(class="img-fluid" data-lazy="images/product/3.png" alt="img")
								img(class="img-fluid" data-lazy="images/product/4.png" alt="img")
								img(class="img-fluid" data-lazy="images/product/5.png" alt="img")
						div(class="product__item__content pt-4")
							div(class="product__more")
								span
									| Наличие : на складе
							div(class="product__more")
								span
									| Артикул : #2343
							div(class="product__more")
								span
									| Теги : Сатин, Постельное Бельё
						div(class="product__item__content")
							div()
								p(class="product__description")
									| Природа ещё не создавала столь уникального волокна, каковым является шёлк! Побалуйте себя по-настоящему шикарными одеялами, достойными императорской постели!
								ul()
									li()
										| 200х220 см
									li()
										| Жаккардовый люкс-сатин
									li()
										| 100% Шёлк
									li()
										| Бесплатная доставка
						div(class="product__item__content d-flex flex-column")
							div(class="input_f pb-4 input_f_w")
								div(class="input_f_w_p")
									span(class="input_f__header")
										| Цвет
									select(class="input__color" name="filesA" id="input__color")
										option(value="0" data-imagesrc="images/color/red.png")
											| красный
										option(value="1" data-imagesrc="images/color/green.png" )
											| зеленый
										option(value="2" data-imagesrc="images/color/blue.png")
											| синий
								div(class="input_f_w_p")
									span(class="input_f__header")
										| Размер
									select(class="input__size" id="input__size" name="filesB")
										option(value="180x200")
											| 180 X 200
										option(value="195x215")
											| 195 x 215
										option(value="200x200")
											| 200 x 200
								div(class="input_f_w_p")
									span(class="input_f__header")
										| Кол-во
									form(class="input__number_item")
										input(type="number" class="input__number__cout" min="0" value="0")
										div(class="input__number__span__cout")
											| 0
										div(class="input__number_item__arr d-flex flex-column")
											div(class="input__number_item__arr_d")
												span(class="input__number__in input__number__in_plus")
													img(class="lazyload" data-src="images/down.png" alt="img")
											div()
												span(class="input__number__in input__number__in_minus")
													img(class="lazyload" data-src="images/down.png" alt="img")
							a(class="product__clear" href="#")
								| очистить выбор
							div(class="d-flex justify-content-between pt-3")
								a(href="#" class="product__link__basket")
									| В корзину
								a(href="#" class="product__link__add")
									| Добавить в желаемое
						div(class="product__item__content" data-description="заглушка")

release/product.html
<!DOCTYPE html>
<html lang="ru" style=" --main-color: #06c;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css"><link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <div id="preloader-cube">
      <div class="caption">
        <div class="cube-loader">
          <div class="cube loader-1"></div>
          <div class="cube loader-2"></div>
          <div class="cube loader-4"></div>
          <div class="cube loader-3"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navigation"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo.png" alt="logo"></a>
                <ul class="d-none d-lg-flex">
                  <li><a href="#">Главная</a></li>
                  <li><a href="#">Каталог</a></li>
                  <li><a href="#">Корзина</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
                <div class="search">
                  <input type="search"><span></span>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <header class="navigation__burger">
        <button class="btn__menu btn__burger"><span></span><span></span><span></span></button>
        <div class="navigation__burger__content">
          <div class="navigation__burger__content__first"><a><i class="far fa-heart"></i></a><a class="navigation__burger__content__basket"><img class="lazyload" data-src="images/basket.png" alt="img"><span class="navigation__burger__content__basket__count">3</span></a><span class="navigation__burger__content__price">0.00<span>₽</span></span></div>
          <div class="social"><a class="social__item" href="#"><i class="fab fa-facebook-square"></i></a><a class="social__item" href="#"><i class="fab fa-twitter"></i></a><a class="social__item" href="#"><i class="fab fa-pinterest"></i></a></div>
        </div>
      </header>
      <div class="navigation__content">
        <div class="navigation__content_first"></div>
        <div class="navigation__content_second"></div>
        <ul>
          <li><a class="link" href="#">Главная</a></li>
          <li><a class="link" href="#">Каталог</a></li>
          <li><a class="link" href="#">Корзина</a></li>
          <li><a class="link" href="#">Партнеры</a></li>
          <li><a class="link" href="#">Наши работы</a></li>
          <li><a class="link" href="#">О нас</a></li>
          <li><a class="link" href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="product">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="product__item">
                  <div class="product__item__content">
                    <div class="product__content__first product__content__header">
                      <h1>Leifarne</h1>
                      <div class="product__top">
                        <div class="product__top__result"></div><a class="product__top__review" href="#">3 отзыва</a><a class="product__top__add" href="#">Добавить обзор</a>
                      </div>
                      <div class="product__price"><span>7280 руб</span></div>
                    </div>
                  </div>
                  <div class="product__item__content">
                    <div class="product__view" id="product__view__slider"><a data-fancybox="gallery" href="images/product/1.png"><img data-lazy="images/product/1.png" alt="img"></a><a data-fancybox="gallery" href="images/product/2.png"><img data-lazy="images/product/2.png" alt="img"></a><a data-fancybox="gallery" href="images/product/3.png"><img data-lazy="images/product/3.png" alt="img"></a><a data-fancybox="gallery" href="images/product/4.png"><img data-lazy="images/product/4.png" alt="img"></a><a data-fancybox="gallery" href="images/product/5.png"><img data-lazy="images/product/5.png" alt="img"></a></div>
                    <div class="product__view_more pt-3 pt-lg-4" id="product__view__input"><img class="img-fluid" data-lazy="images/product/1.png" alt="img"><img class="img-fluid" data-lazy="images/product/2.png" alt="img"><img class="img-fluid" data-lazy="images/product/3.png" alt="img"><img class="img-fluid" data-lazy="images/product/4.png" alt="img"><img class="img-fluid" data-lazy="images/product/5.png" alt="img"></div>
                  </div>
                  <div class="product__item__content pt-4">
                    <div class="product__more"><span>Наличие : на складе</span></div>
                    <div class="product__more"><span>Артикул : #2343</span></div>
                    <div class="product__more"><span>Теги : Сатин, Постельное Бельё</span></div>
                  </div>
                  <div class="product__item__content">
                    <div>
                      <p class="product__description">Природа ещё не создавала столь уникального волокна, каковым является шёлк! Побалуйте себя по-настоящему шикарными одеялами, достойными императорской постели!</p>
                      <ul>
                        <li>200х220 см</li>
                        <li>Жаккардовый люкс-сатин</li>
                        <li>100% Шёлк</li>
                        <li>Бесплатная доставка</li>
                      </ul>
                    </div>
                  </div>
                  <div class="product__item__content d-flex flex-column">
                    <div class="input_f pb-4 input_f_w">
                      <div class="input_f_w_p"><span class="input_f__header">Цвет</span>
                        <select class="input__color" name="filesA" id="input__color">
                          <option value="0" data-imagesrc="images/color/red.png">красный</option>
                          <option value="1" data-imagesrc="images/color/green.png">зеленый</option>
                          <option value="2" data-imagesrc="images/color/blue.png">синий</option>
                        </select>
                      </div>
                      <div class="input_f_w_p"><span class="input_f__header">Размер</span>
                        <select class="input__size" id="input__size" name="filesB">
                          <option value="180x200">180 X 200</option>
                          <option value="195x215">195 x 215</option>
                          <option value="200x200">200 x 200</option>
                        </select>
                      </div>
                      <div class="input_f_w_p"><span class="input_f__header">Кол-во</span>
                        <form class="input__number_item">
                          <input class="input__number__cout" type="number" min="0" value="0">
                          <div class="input__number__span__cout">0</div>
                          <div class="input__number_item__arr d-flex flex-column">
                            <div class="input__number_item__arr_d"><span class="input__number__in input__number__in_plus"><img class="lazyload" data-src="images/down.png" alt="img"></span></div>
                            <div><span class="input__number__in input__number__in_minus"><img class="lazyload" data-src="images/down.png" alt="img"></span></div>
                          </div>
                        </form>
                      </div>
                    </div><a class="product__clear" href="#">очистить выбор</a>
                    <div class="d-flex justify-content-between pt-3"><a class="product__link__basket" href="#">В корзину</a><a class="product__link__add" href="#">Добавить в желаемое</a></div>
                  </div>
                  <div class="product__item__content" data-description="заглушка"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
      <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-header"><span>Форма заявки</span></div>
          <div class="modal-body">
            <form class="form">
              <input type="text" placeholder="Имя*">
              <input class="my-4" type="tel" placeholder="Телефон*">
              <div class="d-flex align-items-start justify-content-center py-3 pb-4">
                <label class="m-0">
                  <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                </label>
                <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
              </div>
              <div class="d-flex justify-content-center w-100">
                <button class="btn btn__flare" type="submit">Записаться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-4 order-2 order-sm-1"><span class="footer__header">Контакты</span>
            <div class="footer__line"><span class="footer__link footer__link_edge_width">Адрес:</span><span class="footer__link">454091 г .Челябинск,<br>ул. Свободы, д.161</span></div>
            <div class="footer__line"><span class="footer__link footer__link_edge_width">Телефон:</span><a class="footer__link" href="tel:83512200667">8 (351) 22-00-667</a></div>
            <div class="footer__line"><span class="footer__link footer__link_edge_width">Email:</span><a class="footer__link" href="mail:artssofe@gmail.com">artssofe@gmail.com</a></div>
          </div>
          <div class="col-lg-4 d-none d-lg-block order-sm-2"><span class="footer__header">навигация по магазину</span>
            <div class="d-flex">
              <div class="w-50"><a class="footer__link footer__link_nav" href="#">Главная</a><a class="footer__link footer__link_nav" href="#">Каталог</a><a class="footer__link footer__link_nav" href="#">Корзина</a><a class="footer__link footer__link_nav" href="#">Контакты</a>
              </div>
              <div class="w-50"><a class="footer__link footer__link_nav" href="#">Наши работы</a><a class="footer__link footer__link_nav" href="#">О нас</a><a class="footer__link footer__link_nav" href="#">Контакты</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 order-1 order-sm-3 pb-4 pb-sm-0"><span class="footer__header">Ваш список желаемого</span>
            <div class=" d-flex">
              <div class="footer__desired w-50 mr-3"></div><a class="footer__desired footer__desired_two w-50 ml-3" href="#"><span class="footer__item__name">Furniture Product Name</span><span class="footer__item__price">6000₽</span></a>
            </div>
          </div>
        </div>
        <div class="row footer__down">
          <div class="footer__down__wrapper col-12 d-flex justify-content-between align-items-center">
            <div class="order-2 order-sm-1">© ARTSSOFE 2019 - 2020. All Rights Reserved.</div>
            <div class="footer__down__pay d-flex justify-content-end order-1 order-sm-2"><img class="d-block mr-2 lazyload" data-src="images/payment-1.png" alt="img"><img class="d-block mx-2 lazyload" data-src="images/payment-2.png" alt="img"><img class="d-block mx-2 lazyload" data-src="images/payment-3.png" alt="img"><img class="d-block ml-2 lazyload" data-src="images/payment-4.png" alt="img"></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="js/main.min.js"></script>
</html>
